@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

footer{
    position: relative;
    background-color: #9fa3a9;
    height: 300px;
    margin-top: 95px;
}

footer ul{
    margin-top: 30px;
    display: inline-block;
    position: absolute;
    right: 100px;
    list-style-type: none;
}

footer ul li{
    height: 20px;
    margin-bottom: 10px;
}

footer ul li:hover{
    background-color: #101010;
    opacity: 0.5;
}

footer ul li a{
    text-decoration: none;
}

footer img{
    position: relative;
    top: 25px;
    left: 100px;
    margin-top: 15px;
    margin-left: 20px;
    width: 100px;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}

footer img:hover{
    border-radius: 50%;
    opacity: 0.8;
}

footer hr{
    position: relative;
    top: 50px;
    width: 80%;
    margin: 0 auto;
}

footer div{
    position: relative;
    text-align: center;
    margin-top: 100px;
}
